services:
  zookeeper:
    image: zookeeper:latest

  kafka:
    image: apache/kafka:latest
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"

  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    ports:
      - "38080:8080"